---
import Container from "@/components/container.astro";
import Cta from "@/components/home/cta.astro";
import Features from "@/components/home/features.astro";
import Hero from "@/components/home/hero.astro";
import Layout from "@/layouts/Layout.astro";
import Reimagine from "@/components/home/reimagine.astro";
import Pricing from "@/components/home/pricing.astro";
import QA from "@/components/home/q&a.astro";
import Stats from "@/components/home/stats.astro";
---

<Layout title="Astroship">
  <Container class="overflow-hidden">
    <div
      id="home-screen"
      class:list={"flex flex-col items-center justify-center relative"}>
      <Hero />
      <Stats />
    </div>
    <Reimagine />
    <Cta />
    <QA />
  </Container>
</Layout>

<style>
  @media (max-width: 1024px) {
    #home-screen {
      margin-top: 68px;
      min-height: calc(100vh - 68px);
    }
  }

  @media (min-width: 1025px) {
    #home-screen {
      margin-top: 83.2px;
      min-height: calc(100vh - 83.2px);
    }
  }
</style>
