---
import type { lazy } from "astro:schema";
import { AnimatedTestimonials } from "../ui/animated-testimonials";

const testimonials = [
  {
    quote:
      "A fit male with a muscular build, lifting weights in a brightly lit gym. He wears a tank top and shorts, with visible sweat and defined muscles reflecting the effort of his workout.",
    name: "Example 1",
    designation: "",
    src: "/assets/profiles/example-1.jpg",
  },
  {
    quote:
      "A male character standing on the deck of a luxurious yacht, docked in Monaco’s glamorous marina. He wears a tailored white shirt and sunglasses, with the sparkling Mediterranean Sea and the iconic hillside cityscape in the background.",
    name: "Example 2",
    designation: "",
    src: "/assets/profiles/example-2.jpg",
  },
  {
    quote:
      "A male character standing confidently near the Eiffel Tower, dressed in a stylish trench coat and scarf. His expression shows curiosity and calm as he gazes at the towering structure.",
    name: "Example 3",
    designation: "",
    src: "/assets/profiles/example-3.jpg",
  },
  {
    quote:
      "A bride in an elegant, traditional wedding gown with intricate embroidery, a flowing veil, and a serene expression, holding a vibrant bouquet. The setting is softly blurred, enhancing depth.",
    name: "Example 4",
    designation: "",
    src: "/assets/profiles/example-4.jpg",
  },
];
---

<div class="mt-16 md:mt-0 grid grid-cols-1 md:grid-cols-3 gap-4">
  <div class="flex flex-col justify-center">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Reimagine yourself with AvatarLabs
    </h2>
    <p class="text-lg mt-4 text-slate-200">
      Use your pictures with AvatarLabs to create your own professional AI
      avatar. You can use it for your social media, profile picture, and more!
    </p>
  </div>

  <div class="coll-span-1 md:col-span-2">
    <AnimatedTestimonials testimonials={testimonials} client:load />
  </div>
</div>
