---
import { Icon } from "astro-icon/components";
---

<div
  class:list={"mx-auto max-w-[750px] flex items-center justify-center gap-8"}>
  <div class="flex flex-col items-center justify-center gap-2">
    <Icon name="bx:user" class:list={"text-2xl text-slate-200"} />
    <div class="flex flex-col items-center">
      <p class="font-bold text-lg">30 million+</p>
      <p class="text-slate-200 text-sm">active users</p>
    </div>
  </div>

  <div class="h-16 w-[1px] bg-slate-200"></div>

  <div class="flex flex-col items-center justify-center gap-2">
    <Icon name="bx:cloud-download" class:list={"text-2xl text-slate-200"} />
    <div class="flex flex-col items-center">
      <p class="font-bold text-lg">50 million+</p>
      <p class="text-slate-200 text-sm">downloads</p>
    </div>
  </div>
</div>
