---
import "@/styles/globals.css";
import { ThreeDCardDemo } from "@/components/3DCardDemo";
---

<div
  id="container"
  class="w-full h-screen flex flex-col justify-center items-center bg-black text-white">
  <h1 class="text-center text-7xl p-5">Astro + Aceternity</h1>
  <ThreeDCardDemo client:idle />
</div>
